[Unit]
Description=Agoric Prometheus Exporter Service

[Service]
Type=simple
User=agoric
Restart=always
WorkingDirectory=/home/agoric/agoric-chainlink-oracle-monitoring/prometheus-exporter
ExecStart=/usr/bin/node index.js

[Install]
WantedBy=multi-user.target
